          
          <div class="news">
            <h2>news</h2>
            {% if site.news != blank -%} 
            {%- assign news_size = site.news | size -%}
            <div class="table-responsive" {% if site.news_scrollable and news_size > 4 %}style="max-height: 20vw"{% endif %}>
              {%- assign news = site.news | reverse -%}
              {% assign pinned_news = site.news | where_exp: "item", "item.pin == true" %}
              {%- assign pinned_news_size = pinned_news | size -%}
              {% if site.news_limit %}
              {% assign news_limit = site.news_limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% endif %}
              {% if pinned_news_size > 0 %}
              <table class="table table-sm table-borderless">
                {% for item in pinned_news %} 
                  <tr>
                    <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                    <td>{% if item.inline -%} 
                        {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                      {%- else -%} 
                        <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                      {%- endif %} 
                    </td>
                  </tr>
                {%- endfor %} 
              </table>
              <hr>
              {% endif %}
              <table class="table table-sm table-borderless">
              {% for item in news limit: news_limit %} 
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No news so far...</p>
          {%- endif %} 
          </div>
